/* style.css for Mark Elliott's portfolio */
/* Global styles -------------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #030c80;
    text-decoration: none;
}
a:hover {
    background-color: rgb(240, 207, 24);
    text-decoration: none;
}
h1 {
    font-size: 60px;
    margin: 0;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}
.content-wrap {
    /* max-width and width as a percentage is part of flexible design for this page */
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic ;
}
.item-details h3 ~ p  {
    margin: 0;
}
.divider > section {
    border-bottom: 2px solid #343434;
    padding: 20px 0;
}
.divider > section:last-of-type {
    border: none;
}
/* Profile --------------------------------------- */
header {
    background-color: #ccc4c4;
}
/* Projects ---------------------------------------*/
.projects {
    background-color: #f7fff7;
}
.projects a {
    color:#030c80;
}
.projects .btn {
    color: #f7fff7;
    background-color: #030c80;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background-color: #2f3dff;
}
.project-item {
    overflow: hidden;
 }

.project-item h3 {
    margin-top: 0;
}
/* Work Experience ---------------------------------*/
.work_experience {
    background-color: #a1c6d7;
}
/* Education ---------------------------------------*/
.education {
    /* background-color: #f7fff7; */
    /* free image by Joanna Kosinska from unsplash.com */
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.educaton p {
    width: 60%;
}
/* Contact Info ------------------------------------*/
footer {
    background-color: #ccc4c4;
}
.contact-list {
    list-style-type: none;
    padding: 0;
}       
.contact-list-item a {
    padding: 5px;
    display: inline-block;
}
/* Responsive styles ------------------------------------*/
/* Styles for screens 720px or wider */
@media screen and ( min-width: 720px ){
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
     }
    .header-wrap {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        line-height: 1.75;
    }
    footer {
        text-align: center;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }    
    .contact-list-item a {
        padding: 15px;
    }   
 
}
/* Styles for screens 719px of smaller */
@media screen and ( max-width: 719px ){
h1 {
    font-size: 50px;
    line-height: 1;
}
h2 {
    font-size: 30px;
    line-height: 1;
    margin-top: 7px;
}
}